body {
  overflow: hidden;
}

.hover:hover {
  background-color: #dee2e6;
  cursor: pointer;
}

.hover:active {
  background-color: #c9cccf;
}

.relative {
  position: relative;
}

.img {
  transform: scale(1.2);
  transform-origin: 50% 50%;
}

.overflow {
  overflow: hidden;
}
